.git
.idea
*.code-workspace
node_modules
nbproject

# dev-server
.dev-server/
.dev-server.json
.dev-server.rc

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt
package-lock.json

# Agent configuration
.agents/
.commitmessage

